<launch>
    <node pkg="lidar_obstacle_avoidance" type="emergency_button.py" name="emergency_button" output="screen" required="true"/>

    <group ns="P1">
        <node pkg="lidar_obstacle_avoidance" type="differential_robot_route_pose.py" name="pioneer_node" output="screen">
            <rosparam file="$(find lidar_obstacle_avoidance)/config/differential_robots/pioneer.yaml" command="load" />
        </node>

        <node pkg="lidar_obstacle_avoidance" type="route_planning.py" name="route_node" output="screen">
            <rosparam file="$(find lidar_obstacle_avoidance)/config/paths/route.yaml" command="load" />
        </node>

        <node pkg="lidar_obstacle_avoidance" type="publish_robot_points_pose.py" name="publish_robot_points" output="screen">
            <param name="robot_density" value="100"/>
            <param name="robot_height" value="0.5"/>
            <param name="robot_width" value="0.46"/>
            <param name="x_offset" value="-0.142"/>
            <param name="y_offset" value="0.0"/>
        </node>

        <node pkg="lidar_obstacle_avoidance" type="obstacle_avoidance_scan_node_pose.py" name="obstacle_avoidance_scan" output="screen">
            <rosparam file="$(find lidar_obstacle_avoidance)/config/obstacle_avoidance/obstacle_avoidance_scan_node.yaml" command="load" />
            <param name="scan_topic" value="/RosAria/scan"/>
        </node>

        <node pkg="lidar_obstacle_avoidance" type="plot_2D.py" name="plot_2D" output="screen">
            <rosparam file="$(find lidar_obstacle_avoidance)/config/obstacle_avoidance/obstacle_avoidance_scan_node.yaml" command="load" />
            <param name="scan_topic" value="/RosAria/scan"/>
        </node>
    </group>
</launch>